# Build Folders
/bin/
obj/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
*.snupkg
*.nuspec
**/packages/*
**/obj/*

# DotNet CLI
project.lock.json
project.fragment.lock.json
artifacts/

# dotenv environment variable files
.env
.env.local

# Temporary files
*.tmp
*.bak

# Test Results
/TestResults/
